<div
  class="hero min-h-screen"
  style="background-image: url(/hero.jpg);"
>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md hero-overlay p-4">
      <h1 class="mb-5 text-5xl font-bold">Bienbenidos</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Identificate</button>
    </div>
  </div>
</div>