<fieldset class="fieldset bg-base-200 border-base-300 text-gray-800 rounded-box w-xs border p-4">
  <legend class="fieldset-legend text-2xl">Inicia sesión</legend>

  <label class="label">Rut</label>
  <input type="number" class="input" placeholder="Ingrese rut sin guion" />

  <label class="label">Nombres</label>
  <input type="number" class="input" placeholder="Ingrese nombre y apellido" />

  <label class="label">Contraseña</label>
  <input type="password" class="input" placeholder="Ingrese contraseña" />

  <label class="label">Verificar Contraseña</label>
  <input type="password" class="input" placeholder="Ingrese contraseña" />

  <button class="btn btn-neutral mt-4">Inicia sesión</button>
</fieldset>