<!-- <pre>{{ books() | json }}</pre> -->

<h1 class="text-5xl font-bold text-center text-accent p-4">Libros Recomendados</h1>

<section class="flex p-4 justify-center">

  @if (books().length > 0) {
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
    @for (book of books(); track book.id) {

      <div class="w-56 bg-base-300 shadow-2xl cursor-pointer hover:scale-105 transition-transform mx-2">
        <figure>
          <img
            class="h-80 w-56 object-cover"
            [src]="'/assets/img/' + book.coverImageUrl"
            [alt]="book.title" />
        </figure>
        <div class="text-center p-2">
          <h2 class="card-title justify-center text-secondary">{{ book.title }}</h2>
          <p class="text-accent-content">{{ book.author }}</p>
        </div>
      </div>
      
    }
  </div>
  } @else {
    <p>No hay libros disponibles</p>
  }

</section>