<!-- <pre>{{ books() | json }}</pre> -->

<section class="flex p-4">

  @if (books().length > 0) {
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
    @for (book of books(); track book.id) {

      <div class="card card-side bg-base-300 shadow-2xl cursor-pointer hover:bg-blue-300 hover:scale-105 transition-transform mx-2">
        <figure>
          <img
            class="h-44 w-32 object-fit"
            [src]="'/assets/img/' + book.coverImageUrl"
            [alt]="book.title" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ book.title }}</h2>
          <p>{{ book.author }}</p>
        </div>
      </div>
      
    }
  </div>
  } @else {
    <p>No hay libros disponibles</p>
  }

</section>


<section class="flex p-4">

  @if (books().length > 0) {
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
    @for (book of books(); track book.id) {

      <div class="w-40 bg-base-300 shadow-2xl cursor-pointer hover:scale-105 transition-transform mx-2">
        <figure>
          <img
            class="h-56 w-40 object-fit"
            [src]="'/assets/img/' + book.coverImageUrl"
            [alt]="book.title" />
        </figure>
        <div class="text-center p-2">
          <h2 class="card-title justify-center">{{ book.title }}</h2>
          <p class="text-accent-content">{{ book.author }}</p>
        </div>
      </div>
      
    }
  </div>
  } @else {
    <p>No hay libros disponibles</p>
  }

</section>